/* Header */

.navigation{
    background-color: #0095A0;
    position: relative;
    height: 94px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    padding: 20px, 120px, 20px, 120px;
    gap: 10px;  
}

.nav-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 89px;
    height: 47.12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 31.4118px;
    line-height: 47px;
    color: #FFFFFF;
    margin-top: 25px;
    margin-left: 150px; 
}

.nev-menu{
   display: inline;
}

.searchBox{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    margin-right: 15px;
    border: 1px solid white ;
    padding: 15px 35px 16px;
}

.spaceIcon{
    padding-left: 70px;
}

.add_Product_btn{
    margin-right: 150px;
    margin-top: 20px;
    gap: 10px;
    width: 164px;
    height: 54px;
    padding: 15px 35px 16px;
    background: #F7F5F2;
    border-radius: 2px;
    color: #0095A0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
}






